.su-box {
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

.su-text{
  flex: 1;
  min-height: 1em;
  padding: 10px 0 10px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.su-icon {
  display: flex;
  flex: 0 1;
  align-self: stretch;
  align-items: center;
  padding: 0 10px;
}

.su-icon>svg {
  width: 1.8em;
  height: 1.8em;
  fill: gray;
  transform: scale(-1,1);
}

.selected {
  background: #eee;
}
