.su-box {
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

.su-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.su-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.su-item:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.su-item:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.su-item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.su-item:hover {
  background: #eee;
}

.su-text{
  flex: 1;
  min-height: 1em;
  padding: 10px 0 10px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.su-icon {
  display: flex;
  flex: 0 1;
  align-self: stretch;
  align-items: center;
  padding: 0 10px;
}

.su-icon>svg {
  width: 1.8em;
  height: 1.8em;
  fill: gray;
  transform: scale(-1,1);
}

.selected {
  background: #eee;
}
