<app-header mode="back"></app-header>
<div class="settings">
  <div class="set-catalog">
    <div class="set-catalog-title">
      <h2>默认设置</h2>
    </div>
    <hr>
    <div class="set-item">
      搜索引擎
      <select class="set" [(ngModel)]="searchEngine" (change)="saveEngines()">
        <option *ngFor="let e of searchEngines" [value]="e.id">{{e.name}}</option>
      </select>
    </div>
    <div class="set-item">
      搜索建议
      <select class="set" [(ngModel)]="suggestionEngine" (change)="saveEngines()">
        <option *ngFor="let e of suggestionEngines" [value]="e.id">{{e.name}}</option>
      </select>
    </div>
    <div class="set-item">
      Logo
      <select class="set" [(ngModel)]="customLogoId" (change)="saveCustomLogo()">
        <option value="default">默认</option>
        <option *ngFor="let e of logoEngines" [value]="e.id">{{e.name}}</option>
        <option value="custom">自定义</option>
      </select>
    </div>
    <div class="set-item" [hidden]="customLogoId!=='custom'">
      <div class="flex-box">
        <input #url class="custom-logo-url" placeholder="自定义 Logo URL" [(ngModel)]="customLogoUrl" [disabled]="true">
        <button #editBtn class="flex-btn" (click)="url.disabled=false;saveBtn.hidden=false;editBtn.hidden=true;">编辑</button>
        <button #saveBtn class="flex-btn" (click)="url.disabled=true;saveBtn.hidden=true;editBtn.hidden=false;saveCustomLogoUrl()" [hidden]="true">保存</button>
      </div>
    </div>
  </div>
  <div class="set-catalog">
    <div class="set-catalog-title">
      <h2>自定义搜索引擎</h2>
    </div>
    <hr>
    <div class="set-item">
      <div class="flex-box"
           *ngFor="let e of customEngines;index as i">
        <input #name class="custom-engine-name" placeholder="标题" [(ngModel)]="e.name" [disabled]="true" (focusin)="url.hidden=true" (focusout)="url.hidden=false">
        <input #url class="custom-engine-url" placeholder="网址" [(ngModel)]="e.url" [disabled]="true" (focusin)="name.hidden=true" (focusout)="name.hidden=false">
        <button #editBtn class="flex-btn" (click)="name.disabled=false;url.disabled=false;saveBtn.hidden=false;editBtn.hidden=true;">编辑</button>
        <button #saveBtn class="flex-btn" (click)="name.disabled=true;url.disabled=true;saveBtn.hidden=true;editBtn.hidden=false;saveEngines();update();" [hidden]="true">保存</button>
        <button class="flex-btn" (click)="customEngines.splice(i,1);saveEngines();update();">删除</button>
      </div>
      <div class="flex-box">
        <input #newName class="custom-engine-name" placeholder="标题" (focusin)="newUrl.hidden=true" (focusout)="newUrl.hidden=false">
        <input #newUrl class="custom-engine-url" style="min-width: 9em" placeholder="网址(用'%s'代替搜索字词)" (focusin)="newName.hidden=true" (focusout)="newName.hidden=false">
        <button class="flex-btn" (click)="customEngines.push({id: getRandomId(), name: newName.value, url: newUrl.value});newName.value='';newUrl.value='';saveEngines();update();">添加</button>
      </div>
    </div>
  </div>
  <div class="set-catalog">
    <div class="set-catalog-title">
      <h2>外观设置</h2>
    </div>
    <hr>
    <div class="set-item">
      背景图片
      <input class="set" placeholder="图片 URL" [(ngModel)]="backgroundImageUrl" (change)="saveBackground()">
    </div>
  </div>
  <div class="set-catalog">
    <div class="set-catalog-title">
      <h2>云同步</h2>
    </div>
    <hr>
    <div class="set-item">
      <div class="flex-box">
        <input #userNameBox class="flex-simple" placeholder="用户名" [(ngModel)]="userName" disabled>
        <input #userPasswordBox class="flex-simple" placeholder="密码" [(ngModel)]="userPassword" disabled type="password">
        <button #saveUser class="flex-btn" (click)="saveAuthorization();userNameBox.disabled=true;userPasswordBox.disabled=true;saveUser.hidden=true;editUser.hidden=false;" [hidden]="true">保存</button>
        <button #editUser class="flex-btn" (click)="userNameBox.disabled=false;userPasswordBox.disabled=false;saveUser.hidden=false;editUser.hidden=true;">编辑</button>
        <button class="flex-btn" (click)="syncService.syncData()" [disabled]="!userName">同步</button>
      </div>
      <div class="flex-box">
        <div #exportDiv class="flex-simple"></div>
        <input #exportBox class="flex-simple" hidden>
        <button class="flex-btn" (click)="exportBox.value=syncService.exportDataString();exportBox.hidden=false;exportDiv.hidden=true;">导出</button>
      </div>
    </div>
  </div>
</div>
<div style="height: 1px"></div>
