.settings {
  width: 100%;
  margin: 68px auto 64px;
}

.set-catalog {
  width: 80%;
  max-width: 500px;
  margin: auto;
}

.set-catalog-title {
  width: 100%;
  max-width: 450px;
  margin: auto;
}

.set-item {
  position: relative;
  width: 100%;
  max-width: 380px;
  margin: 24px auto;
}

.set {
  position: absolute;
  right: 0;
}

.flex-box {
  display: flex;
  margin: 12px auto;
}

.custom-engine-name {
  flex: 0 1 auto;
  max-width: 5em;
  min-width: 1em;
  margin: 0 5px;
}

.custom-engine-url, .custom-logo-url {
  flex: 1;
  min-width: 5em;
  margin: 0 5px;
}

.flex-simple {
  flex: 1;
  min-width: 1em;
  margin: 0 5px;
}

.flex-btn {
  flex: 0 1 auto;
  width: 4em;
  margin: 0 5px;
  white-space:nowrap;
}
