.logo-box {
  position: relative;
  width: 50%;
  max-width: 300px;
  height: 40%;
  margin: 0 auto;
}

.logo {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 50%;
  object-fit: contain;
  margin: 0 auto 18px;
}

.search-box {
  position: relative;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.search-input-box {
  flex: 1;
  display: flex;
  padding: 7px 0 6px;
}

.search-input {
  line-height: 25px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0 0 0 16px;
  font-size: 18px;
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

.btn {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  margin: -1px;
  outline: none;
  flex: 0 0 auto;
  cursor: pointer;
}

.btn>div {
  background: none;
  color: #fff;
  height: 24px;
  width: 24px;
  margin: auto;
}

.btn>div>svg {
  display: block;
  height: 100%;
  width: 100%;
}

.search-btn {
  border-radius: 0 20px 20px 0;
  background-color: #3b78e7;
  border: 1px solid #3367d6;
}

.search-btn>div>svg {
  fill: #fff;
}

@media (prefers-color-scheme: dark) {
  .shortcut-btn {
    background-color: #18191a;
    color: #d0cec8;
  }
}

@media (prefers-color-scheme: light) {
  .shortcut-btn {
    background-color: white;
  }
}

.shortcut-btn {
  border: 1px solid #DFE1E5;
  border-right-width: 0;
  border-left-width: 0;
}

.shortcut-btn>div>svg {
  fill: #DFE1E5;
}
