<app-header mode="main"></app-header>
<div class="logo-box">
  <img class="logo" [src]="logo" (click)="search('')" alt="logo">
</div>
<div #searchBox
     class="search-box">
  <div class="rounded">
    <div class="search-input-box">
      <input #searchInput class="search-input"
             autofocus="autofocus" tabindex="1"
             (focus)="enableSuggestion=true"
             (click)="openShortcut=false;enableSuggestion=true"
             (input)="openShortcut=false;enableSuggestion=true;searchText.next($event.target.value)"
             (keydown.control.arrowUp)="prevEngine()"
             (keydown.control.arrowDown)="nextEngine()"
             (keydown.tab)="$event.preventDefault();changeEngine(searchInput.value)?searchInput.value=null:null"
             (keydown.enter)="search(searchInput.value)">
    </div>
    <button #shortcutBtn class="btn shortcut-btn"
            (click)="openShortcut=true;enableSuggestion=true;searchInput.focus();$event.stopPropagation()">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M7 10l5 5 5-5z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
    </button>
    <button class="btn search-btn" (click)="search(searchInput.value)">
      <div>
        <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
        </svg>
      </div>
    </button>
  </div>
  <div #suggestionBox>
    <app-suggestion [input]="searchText" [enable]="enableSuggestion&&!openShortcut"
                    (output)="searchInput.value=$event;searchInput.focus()"></app-suggestion>
  </div>
  <div #shortcutBox>
    <app-shortcut [input]="searchInput.value" [enable]="enableSuggestion&&openShortcut"></app-shortcut>
  </div>
</div>
<div style="height: 10px"></div>
