/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #18191a;
    color: #d0cec8;
  }

  input {
    color: #d0cec8;
  }

  .rounded {
    background-color: #18191a;
  }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  .rounded {
    background-color: #fff;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.rounded {
  display: flex;
  border: 1px solid #DFE1E5;
  border-radius: 20px;
}

.rounded-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: calc(100vh - 40vh - 40px - 46px);
  overflow: auto;
}

.rounded-list::-webkit-scrollbar {
  display:none
}

.rounded-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rounded-item:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.rounded-item:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.rounded-item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.rounded-item:hover {
  background: #eee;
}
